* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	border: 0;
}

body {
	background: #161618;
	font-family: sans-serif;
	line-height: 1.3;
	color: #f2f5f4;
	font-size: 14px;
	padding: 0;
	margin: 16px auto;
	width: 400px;
}

a,
.link {
	color: #75c0c7;
	text-decoration: none;
}

.action, h2 span.action {
	color: #ee4d2e;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:hover,
.link:hover,
.action:hover {
	cursor: pointer;
	color: #F5F7F6;
}


h1 {
	font-size: 56px;
	font-weight: normal;
	margin: 0 0 16px 0;
}

h2 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 32px;
	margin: 0;
}

h3 {
	font-size: 14px;
	color: #555;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0 0 4px 0;
}

div.row {
	display: flex;
	margin: 0 0 16px 0;
}

div.box {
	width: 50%;
	flex-grow: 1;
}

input[type=text] {
    border: none;
    outline: none;
    color: grey;
    width: 100%;
    font-size: 24px;

    border-bottom: 2px solid grey;
    background-color: #161618;
}

canvas.stats {
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #222;
}

span.divide {
	color: #555;
}

button {
	border: 0;
	background-color: #ee4d2e;
	color: #fff;
	margin: 32px 0 0 0;
	width: 100%;
	padding: 12px;
	font-size: 16px;
	cursor: pointer;
}

button:hover {
	color: #555;
    background-color: #F5F7F6;
}

button.disabled {
	background-color: #222;
	color: #555;
}

div.redeem-help {
	margin: 8px 0 64px 0;
	text-align: center;
	color: #555;
}

div.list {
	margin: 32px 0 64px 0;
}
.autoThreads {
	width: 20px;
	margin: 20px auto;
	position: relative;
	padding-right: 107px;
}

.autoThreads label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.autoThreads label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.autoThreads label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.autoThreads input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

table { width: 100%; }
th, td { text-align: left; }
th.num, td.num { text-align: right; }
th.rank, td.rank { text-align: right; color: #555; }
th { color: #555; text-transform: uppercase; font-weight: normal; font-size:12px;}

.alignRight{
	float:right;
}
